@(name1: String, name2: String, stage: String)
@import helper._

@main("Controller") {

    <script type = "text/javascript">
            function sendName(txt) {
                if(event.key === 'Enter') {
                    const Http = new XMLHttpRequest();
                    Http.open("GET", "/setName/"+txt.name+"/"+txt.value);
                    Http.send();
                    location.reload()
                }
            }

            function sendStage(txt) {
                if(event.key === 'Enter') {
                    const Http = new XMLHttpRequest();
                    Http.open("GET", "/setStage/"+txt.value);
                    Http.send();
                    location.reload()
                }
            }
    </script>
    <style>
        *, a {
            color: #FFF;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration: none;
        }
        a:hover {
            color: #FFF;
        }
        .btn {
            width: 154px;
            height: 48px;
            border-radius: 5px;
            background: #0275d8;
            display: flex;
            width: 154px;
            height: 48px;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 15px;
            border-style: none;
        }
        .btn:hover {
            cursor: pointer;
            filter: brightness(85%);
        }
        .control {
            display: flex;
            justify-content: center;
            margin: 10px;
            border: 1px solid black ;
            border-radius: 5px;
            width: fit-content;
            background-color: #292b2c;

        }
        .control1 {
            display: flex;
            justify-content: center;
            margin: 10px;
            width: inherit;
        }
        #name {
            display: flex;
            align-items: center;
            margin: 10px;
            margin-left: 25px;
        }
        #container {
            display: flex;
            justify-content: center;
        }
        #eingabe {
            margin: 10px;
            border-radius: 10px;
            height: 25px;
            color: black;
        }
        #eingabe:placeholder-shown {
            border: 2px solid #d9534f ;
        }
        #controlbox {
            background-color: #ddeefc;
        }
        #points1, #points2, #sets1, #sets2 {
            display: flex;
            align-items: center;
            padding: 8px;
        }
        
    </style>
    <div id="controlbox">
        <div id="container">
            <input id="eingabe" placeholder="@stage" onkeydown="sendStage(this)">
            <input id="eingabe" name="1" placeholder="@name1" onkeydown="sendName(this)">
            <input id="eingabe" name="2" placeholder="@name2" onkeydown="sendName(this)">
        </div>
        <div id="container">
            <div class="control">
                <div id="name">@name1</div>
                <div id = "sets1">0</div>
                <div id = "points1">0</div>
                <div class="row1">
                    <a class="btn" href="@routes.HomeController.addPoint(1)">Punkte +1</a>
                    <a class="btn" href="@routes.HomeController.addSet(1)">Sätze +1</a>
                </div>
                <div class="row2">
                    <a class="btn" href="@routes.HomeController.subtractPoint(1)">Punkte -1</a>
                    <a class="btn" href="@routes.HomeController.subtractSet(1)">Sätze -1</a>
                </div>
            </div>

        
        </div>
        <div id="container">
            <div class="control">
                <div id="name">@name2</div>
                <div id = "sets2">0</div>
                <div id = "points2">0</div>
                <div class="row1">
                    <a class="btn" href="@routes.HomeController.addPoint(2)">Punkte +1</a>
                    <a class="btn" href="@routes.HomeController.addSet(2)">Sätze +1</a>
                </div>
                <div class="row2">
                    <a class="btn" href="@routes.HomeController.subtractPoint(2)">Punkte -1</a>
                    <a class="btn" href="@routes.HomeController.subtractSet(2)">Sätze -1</a>
                </div>
            </div>
        </div>
        <div id="container">
            <div class="control1">
                <a class="btn" style="background-color: #d9534f;" href="@routes.HomeController.reset()">Zurücksetzen</a>
            </div>
        </div>
    </div>
    


}